##train param
train_name : "stft_encoder"
learning_rate : 5.0e-2
epochs : 5
batch_size : 8
output_path : "./result/01_01_test_hqdata.pt"

## transformer param
n_block : 6
d_inner : 2048
d_k : 512
d_v : 512
n_head : 8
dropout : 0.1

## stft param
n_fft : 1024